/* Common {{{1 */

/* Global Reset {{{2 */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1 { font-size: 130% }
h2 { font-size: 125% }
h3 { font-size: 120% }
h4 { font-size: 115% }
h5 { font-size: 110% }
h6 { font-size: 100% }

h1 { margin-top: 0em; margin-bottom: 0.5em; }
h2 { margin-top: 0.8em; margin-bottom: 0.4em; }
h3 { margin-top: 0.8em; margin-bottom: 0.4em; }
h4 { margin-top: 0.5em; margin-bottom: 0.3em; }
h5 { margin-top: 0.5em; margin-bottom: 0.3em; }
h6 { margin-top: 0.5em; margin-bottom: 0.3em; }

p { margin: 0.3em 0.7em; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

ol, ul {
  margin-left: 25px;
}

dt {
  color: #0066CC;
  font-weight: bold;
}

dd {
  background:none no-repeat left top;
  margin-left: 25px;
}

/* Home {{{1 */
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* Site {{{1 */

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/* Posts {{{1 */

/* standard {{{2 */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal {{{2 */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* vim: fdm=marker sw=2 */
